*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* height: 100%; */
}

main {
    margin: 0 auto;
    min-width: 100%;
}

.container-wrapper {
    padding: 80px 20px;
}

.container-wrapper .first-content{
    margin: 40px 0px;
    
}

/* .first-section {
    border-bottom: 50px solid black;
    margin-left: -10px;
} */

.container-wrapper p {
    margin-block-end: 20px;
    max-width: 300px;
}

.second-section{
    border-top: 10px solid bisque;
    background-color: gray;
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
}

.second-section article {
    background-color: white;
    margin: 40px 0;
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
}

.second-section article h1 {
    background-color: greenyellow;
    padding: 10px 0px;
    border-bottom: 10px solid yellow;
    margin-left: -20px;
    padding-inline-start: 20px;
    margin-block-end: 20px;
    margin-block-start: -10px;
}

             